:root {
  font-family: "Urbanist-Variable", Helvetica, Arial, sans-serif;
  font-weight: 400;

  --primary-color: #cbea7b;
  --secondary-color: #1a3129;
  --font-color-grey: #4c4c4d;
  --font-color-green: #356554;
  --bg-color: #fafdf2;
  --box-bg-color: #f6fbe9;
  --box-border-color: #e5f5bd;
  --contact-bg-color: #234338;
  --contact-border-color: #2c5446;
}

@font-face {
  font-family: "Urbanist-Variable";
  src: url(/src/font/Urbanist-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  background-color: var(--bg-color);
  color: var(--font-color-grey);
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

h1,
h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  font-family: "Urbanist-Variable";
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: 500;
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.wrapper_hero_sidetext,
.section_features,
.section_calculator,
footer {
  padding: 0 1rem;
}

.div_herotext,
.div_intro {
  text-align: center;
}

.div_intro {
  margin-bottom: 2rem;
}

/* * ------------------- Header ------------------ */

header {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
}

.section_topbar {
  background-color: var(--contact-bg-color);
  border: 0.1rem solid var(--contact-border-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}

.wrapper_jointext {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}

.wrapper_abstract_lines {
  display: none;
}

.section_navbar {
  display: flex;
  justify-content: space-between;
}

.section_navbar nav {
  display: none;
}

.burger_menu {
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.4rem;
}

.burger_1,
.burger_2,
.burger_3 {
  background-color: var(--primary-color);
  height: 0.2rem;
  border-radius: 0.1rem;
}

.burger_1,
.burger_2 {
  width: 2.4rem;
}

.burger_3 {
  width: 1.5rem;
}

/* * ------------------- Section Hero ------------------ */

.div_hero_image {
  max-width: 100vw;
  max-height: 60vh;
  overflow: hidden;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.div_hero_image img {
  width: 100%;
  object-fit: cover;
}

.div_customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: -2rem;
}

.div_customers p {
  color: var(--secondary-color);
  font-weight: 500;
}

.div_customers span {
  color: var(--font-color-green);
}

.wrapper_costumers_img {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  border: 0.1rem solid var(--primary-color);
  border-radius: 4rem;
  padding: 0.5rem;
}

.wrapper_costumers_img img {
  width: 3rem;
}

.wrapper_costumers_img img:first-of-type {
  margin-right: -1.5rem;
}

.wrapper_costumers_img img:last-of-type {
  margin-left: -1.5rem;
}

.div_herotext h3 {
  font-weight: 500;
  text-align: center;
  border-bottom: 0.25rem solid var(--primary-color);
  padding: 0.2rem;
  margin: 2rem auto;
  width: 16rem;
}

/*  --------- CTA-Buttons  --------- */

.div_hero_bts {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0 3rem;
}

.div_hero_bts a {
  color: var(--secondary-color);
  font-weight: 500;
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.div_hero_bts a:first-of-type {
  background-color: var(--primary-color);
}

/* * ------------------- Section Features ------------------ */

.section_features {
  margin-bottom: 3rem;
}

.box_features {
  border: 0.1rem solid var(--box-border-color);
  border-radius: 0.5rem;
  background-color: var(--box-bg-color);
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.box_features img {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
}

.box_features h3 {
  font-weight: 600;
}

.wrapper_box_icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* * ------------------- Section Calculator ------------------ */

/*  --------- Form Calculator  --------- */

.section_calculator {
  padding: 1rem;
}

.calculator {
  border: 0.1rem solid var(--box-border-color);
  border-radius: 0.5rem;
  background-color: var(--box-bg-color);
  padding: 2rem 2rem 4rem;
  margin-bottom: 1.5rem;
}

.calculator button {
  width: 100%;
}

.box_input input,
.box_input select {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1.5rem 0;
  border: 0.1rem solid var(--box-border-color);
  border-radius: 0.5rem;
}

.box_input input:focus,
.box_input select:focus {
  outline: 0.1rem solid var(--font-color-green);
}

.wrapper_gender {
  text-align: center;
  margin: 1rem;
}

.wrapper_gender label:nth-child(2) {
  margin: 1.5rem 0;
}

.wrapper_radio_bts {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.box_gender {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.wrapper_select {
  position: relative;
}

.wrapper_select select {
  appearance: none;
  cursor: pointer;
}

.wrapper_select::after {
  content: url("../img/icon_grey_arrow.svg");
  position: absolute;
  top: 35%;
  right: 1rem;
  transform: translate(-50%);
  pointer-events: none;
}

/*  --------- Result Calculator --------- */

.div_calculator_result {
  display: none;
  margin-top: 3rem;
  border: 0.1rem solid var(--box-border-color);
  border-radius: 0.5rem;
  background-color: white;
}

.result_header,
.result_row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 1rem 0.25rem;
  align-items: center;
}
.result_row:last-of-type {
  padding-bottom: 1rem;
}

.result_header {
  border-bottom: 0.1rem solid var(--box-border-color);
  text-align: center;
}

.result_row:last-child {
  border-bottom: none;
}

.result_label {
  text-align: left;
  font-size: 1rem;
}

.result_value {
  text-align: center;
  font-size: 1rem;
}

/* * ------------------- Footer ------------------ */

/*  --------- Section Footer Nav --------- */

footer {
  background-color: var(--secondary-color);
  color: white;
  padding-bottom: 3rem;
}

.wrapper_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.div_go_topmenu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper_circle {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--contact-bg-color);
  border-radius: 4rem;
}

.wrapper_circle a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_circle img {
  width: 0.75rem;
}

.section_footer_nav nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 2rem;
}

/*  --------- Section Footer Contact --------- */

.section_contact,
.box_contact {
  background-color: var(--contact-bg-color);
  border: 0.1rem solid var(--contact-border-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.box_contact {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.div_copyright {
  text-align: center;
}
