@media only screen and (min-width: 992px) {
  /* * ------------------- Header ------------------ */

  header {
    padding: 1rem 5rem;
  }

  .section_topbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    padding: 0;
  }

  .wrapper_jointext {
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0;
    min-width: 28rem;
  }

  .wrapper_jointext img {
    width: 1.5rem;
  }

  .wrapper_jointext img:last-of-type {
    width: 1rem;
  }

  .wrapper_abstract_lines {
    display: block;
    overflow: hidden;
    max-height: 3rem;
    padding: 0 3rem;
  }

  .wrapper_abstract_lines img {
    object-fit: cover;
    height: 3rem;
  }

  .section_navbar {
    align-items: center;
  }

  .section_navbar nav {
    display: block;
  }

  .section_navbar ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .wrapper_navbar ul li:last-child a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
  }

  .burger_menu {
    display: none;
  }

  /* * ------------------- Section Hero ------------------ */

  .section_hero {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .div_hero_image {
    width: 100vw;
    height: 120rem;
    overflow: hidden;
    margin-left: -1rem;
    border-bottom-left-radius: 0rem;
  }

  .div_hero_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .div_herotext {
    width: 50vw;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .div_herotext h1,
  .div_herotext h3,
  .div_herotext p {
    align-items: start;
    text-align: left;
  }

  .div_herotext h3 {
    margin: 1.5rem 0;
  }

  .wrapper_hero_sidetext {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
  }

  .div_customers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
  }

  /* * ------------------- Section Features ------------------ */

  .section_features {
    margin: 5rem 0;
  }

  .div_features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .box_features {
    width: 43vw;
    margin-bottom: 0;
  }

  /* * ------------------- Section Calculator ------------------ */

  /*  --------- Form Calculator  --------- */

  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .wrapper_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .box_input input,
  .box_input select {
    width: 43vw;
    display: flex;
    flex-direction: column;
  }

  /*  --------- Result Calculator --------- */

  .div_calculator_result,
  .calculator button {
    margin: 0 auto;
  }

  .div_calculator_result {
    max-width: 60vw;
  }

  .calculator button {
    max-width: 18rem;
  }

  /* * ------------------- Footer ------------------ */

  /*  --------- Section Footer Nav --------- */
}
