@media only screen and (min-width: 768px) {
  /* * ------------------- Header ------------------ */

  header {
    padding: 1rem 2rem;
  }

  .section_topbar {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0;
  }

  .wrapper_jointext {
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0;
    min-width: 28rem;
  }

  .wrapper_jointext img {
    width: 1.5rem;
  }

  .wrapper_jointext img:last-of-type {
    width: 1rem;
  }

  .wrapper_abstract_lines {
    display: block;
    overflow: hidden;
    max-height: 3rem;
    padding: 0;
  }

  .wrapper_abstract_lines img {
    object-fit: cover;
    height: 3rem;
  }

  .section_navbar {
    align-items: center;
  }

  .section_navbar nav {
    display: block;
  }

  .section_navbar ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .wrapper_navbar ul li:last-child a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
  }

  .burger_menu {
    display: none;
  }

  /* * ------------------- Section Hero ------------------ */

  .section_hero {
    display: flex;
    justify-content: space-evenly;
  }

  .div_hero_image {
    width: 50vw;
    max-height: 200rem;
    overflow: hidden;
    margin-left: -1rem;
    border-bottom-left-radius: 0rem;
  }

  .div_hero_image img {
    height: 100%;
    object-fit: cover;
  }

  .div_herotext {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
  }

  .div_herotext h1,
  .div_herotext h3,
  .div_herotext p {
    align-items: start;
    text-align: left;
  }

  .div_herotext h3 {
    margin: 1.5rem 0;
  }

  .wrapper_hero_sidetext {
    width: 50vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    padding: 2rem;
  }

  .div_customers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
  }

  .div_customers p {
    font-size: 0.9rem;
  }

  .wrapper_costumers_img img {
    width: 2.2rem;
  }

  .wrapper_costumers_img img:first-of-type {
    margin-right: -1rem;
  }

  .wrapper_costumers_img img:last-of-type {
    margin-left: -1rem;
  }

  /* * ------------------- Section Features ------------------ */

  .section_features {
    margin: 5rem 0rem;
  }

  .div_features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .box_features {
    width: 45vw;
    margin-bottom: 0;
  }

  /* * ------------------- Section Calculator ------------------ */

  /*  --------- Form Calculator  --------- */

  .section_calculator {
    padding: 0rem;
    margin: 0 2rem;
  }

  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .wrapper_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .box_input input,
  .box_input select {
    width: 40vw;
    display: flex;
    flex-direction: column;
  }

  /*  --------- Result Calculator --------- */

  .div_calculator_result,
  .calculator button {
    margin: 1rem auto;
  }

  .div_calculator_result {
    width: 60vw;
  }

  .calculator button {
    max-width: 18rem;
    margin: 0 auto;
  }

  /* * ------------------- Footer ------------------ */
  footer {
    padding: 0 2rem 3rem;
  }

  /*  --------- Section Footer Nav --------- */

  footer {
    font-size: 0.8rem;
  }

  .section_footer_nav {
    position: relative;
  }

  .section_footer_nav nav ul {
    justify-content: center;
    position: absolute;
    left: 30%;
    top: 2.9rem;
  }

  /*  --------- Section Footer Contact --------- */

  .section_contact,
  .wrapper_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .box_contact {
    margin-bottom: 0;
    padding: 0.5rem 0.5rem;
  }

  .div_copyright {
    text-align: center;
  }

  .box_contact img {
    width: 0.9rem;
  }
}
