@media only screen and (min-width: 992px) {
  /* * ------------------- Header ------------------ */

  header {
    padding: 1rem 5rem;
  }

  .section_topbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    padding: 0;
  }

  .wrapper_jointext {
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0;
    min-width: 28rem;
  }

  .wrapper_jointext img {
    width: 1.5rem;
  }

  .wrapper_jointext img:last-of-type {
    width: 1rem;
  }

  .wrapper_abstract_lines {
    display: block;
    overflow: hidden;
    max-height: 3rem;
    padding: 0 3rem;
  }

  .wrapper_abstract_lines img {
    object-fit: cover;
    height: 3rem;
  }

  .section_navbar {
    align-items: center;
  }

  .section_navbar nav {
    display: block;
  }

  .section_navbar ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .wrapper_navbar ul li:last-child a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
  }

  .burger_menu {
    display: none;
  }
}
